{%  comment  %}  
This is the default findify snippet for content cards.
You are free to modify its structure or their styling to match your brand look&feel.

This file is referenced within sections/findify-content-result.liquid
This will be rendered with Javascript DOM manipulation, inserting these into the targetted element.

Attention: Long content might be rendered via JS as there is a query string parameter length restriction
{% endcomment %}


{% assign contentParts = content | split:'~' %}
{% assign image_url = contentParts[0] | url_decode %}
{% assign url = contentParts[1] | url_decode %}
{% assign title = contentParts[2] | url_decode %}

<a class="findify-content-card" href={{ url }} target="_blank">
  <img
    src="{{ image_url }}" 
    alt="{{ title }}" 
    class="adapt-content-img" 
    style="position: relative; width: 100%; height: auto"
    loading="lazy"
  />
  <div class="content-wrapper">
    <p class="findify-content-title">{{ title }}</p>
  </div>
</a>
