{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign price_max = target.price_max | money
  assign price_min = target.price_min | money

  assign price = target.price | money
  assign compare_at_price = target.compare_at_price | money
  assign has_discount = false
-%}

{% if price_max != price_min %}
  {% assign price = 'From ' | append: price_min %}
{% endif %}

{% if target.price != target.compare_at_price
  and target.price < target.compare_at_price
%}
  {% assign has_discount = true %}
{% endif %}
<div>
  <span class="findify-product-price {%if has_discount %} findify-product-price-with-compare{% endif %}">
    {{ price }}
  </span>
  {% if has_discount %}
    <span class="findify-product-price-compare-at">
      <s>
        {{ compare_at_price }}
      </s>
    </span>
  {% endif %}
</div>
