{% comment  %}  
      @param: content_id
{% endcomment %}

<div class="findify-content-grid">
  <div id="content-tab-{{content_id}}" class="findify-content-list"></div>
  {% render 'findify-lazy-loading-pagination'
    , id: content_id %}
</div>