{% liquid
  assign fake_price = 123
  assign money_price = fake_price | times: 100 | money
  if settings.currency_code_enabled
    assign money_price = fake_price | times: 100 | money_with_currency
  endif
  assign currency = money_price | split: fake_price | last
%}

<div class="price-range-container">
  <div class="price-range-content">
    <div class='findify-price-range-input-container'>
      <input
        type="text"
        class="price-range-input"
        id='findify-price-range-min' />
      <span>{{ currency }}</span>
    </div>
    <span>-</span>
    <div class='findify-price-range-input-container'>
      <input
        type="text"
        class="price-range-input"
        id='findify-price-range-max' />
      <span>{{ currency }}</span>
    </div>
  </div>
  <button id='findify-custom-price-range'>Go</button>
</div>