{%  comment  %}  
This is the default findify snippet for content cards.
You are free to modify its structure or their styling to match your brand look&feel.

This file is referenced within sections/findify-content-result.liquid
This will be rendered with Javascript DOM manipulation, inserting these into the targetted element.

Attention: Long content might be rendered via JS as there is a query string parameter length restriction
{% endcomment %}

<li class="findify-content-card">
    <div class="findify-content-container">
        <a href="{{url}}">
            <div class="findify-content-image-wrapper">
                <img src="{{ image_url }}" alt="{{ title }}"/>
            </div>
            <h3 class="findify-content-title findify-content-title-selector"></h3>
        </a>
    </div>
</li>