<div class="findify-filters--body-wrapper">
  {% for filter in filters %}
    {% if forloop.index != forloop.length %}
      {% liquid
        assign filter_props = filter | split: '~'
        assign value = filter_props[0] | url_decode
        assign count = filter_props[1]
        assign is_selected_prop = filter_props[2]
        if is_selected_prop == 'T'
          assign is_selected = true
        else
          assign is_selected = false
        endif

        assign fake_price = 123
        assign money_price = fake_price | times: 100 | money
        assign currency = money_price | replace: fake_price, '' | replace: ',00', ''

        if value contains 'to'
          assign to = value | split: 'to' | last
          assign under_text = 'findify.filters.under' | t
          assign value = 'to|' | append: to
          if name == 'price'
            assign to = to | times: 100 | money
          endif
          assign text = under_text | append: ' ' | append: to
        elsif value contains 'from'
          assign from = value | split: 'from' | last
          assign and_up_text = 'findify.filters.and_up' | t
          assign value = 'from|' | append: from
          if name == 'price'
            assign from = from | times: 100 | money
          endif
          assign text = from | append: ' ' | append: and_up_text
        else
          assign from = value | split: ':' | first
          assign to = value | split: ':' | last
          assign value = 'from|' | append: from | append: '-' | append: 'to|' | append: to
          if name == 'price'
            assign to = to | times: 100 | money
            assign from = from | times: 100 | money
          endif
          assign text = from | append: ' - ' | append: to
        endif
      %}

      {% render 'findify-filter-checkbox',
        name: name,
        type: type,
        is_selected: is_selected,
        value: value,
        text: text,
        count: count,
        component: component
      %}
    {% endif %}

    {% if forloop.last and component == 'range' %}
      {% render 'findify-filter-price-range',
        name: name,
        currency: currency,
        min: min,
        max: max
      %}

      <!-- uncomment to use price slider -->
      <!-- {% if name == 'price' %}
        {% render 'findify-filter-range-slider', min: min, max: max, name: name, from: sliderFrom, to: sliderTo %}
      {% endif %} -->
    {% endif %}
  {% endfor %}
</div>
