{% liquid
  if has_children
    assign class = 'findify-filters--checkbox-nested-value'
    if is_selected
      assign selected_class = 'findify-filters--checkbox-nested-value-selected'
    endif
  else
    assign class = 'findify-filters-checkbox-item-value'
    if is_selected
      assign selected_class = 'findify-filters-checkbox-item-value-selected'
    endif
  endif
%}

<div class="{{class}} {{selected_class}}">
  <span>{{ text | url_decode }}</span>
</div>