{%- assign class = '' -%}
{%- assign selectedClass = '' -%}

{% if hasChildren == 't' %}
  {%- assign class = 'findify-filters--checkbox-nested-value' -%}
  {%- assign selectedClass = 'findify-filters--checkbox-nested-value-selected' -%}
{% else %}
  {%- assign class = 'findify-filters-checkbox-item-value' -%}
  {%- assign selectedClass = 'findify-filters-checkbox-item-value-selected' -%}
{% endif %}

<span class="
    {{class}}
    {%if selected == 't'%}{{selectedClass}}{%endif%}
">
  {{ value }}
</span>