<div class="findify-filters--body-container" aria-expanded="false">
    {% if filterType == "text" or filterType == "category" %}
        {% if componentType == "text" %}
        {% render 'findify-filters-text',
            filterName: filterName,
            filterType: filterType,
            componentType: componentType,
            items: items,
            size: size,
            limit: limit
        %}
        {% elsif componentType == "color" %}
        {% render 'findify-filters-color',
            filterName: filterName,
            filterType: filterType,
            componentType: componentType
            items: items,
            size: size,
            limit: limit
        %}
        {% endif %}
    {% endif %}

    {% if filterType == "range" %}
        {% render 'findify-filters-range',
            filterName: filterName,
            filterType: filterType,
            componentType: componentType,
            items: items
        %}
    {% endif %}
</div>