<span class=" findify-filters-checkbox-item-value findify-filters--color-item
{%if selected == 't'%}findify-filters-checkbox-item-value-selected{%endif%}">
<span class="findify-filters--color-item-value color-mapping-background-{{colorName | downcase}} border-{{ borderColor }}"></span>
{{colorName}}
</span>