
{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace:'\u0026','&' | url_decode  -%}
{%- assign filtersParam = page_url | split: "filters=" | last | split: '&' | first -%}
{%- assign color_filter_setting = page_url | split: "color_filter=" | last | split: '&' | first -%}
{%- assign limit = 5 -%}

{%- assign details = filtersParam | strip | split: '=' | first | split: '~' -%}
{%- assign name = details[0] -%}
{%- assign type = details[1] -%}
{%- assign subname = details[2] -%}

{%- assign values = filtersParam | split: '=' | last | split: '|' -%}

{%- assign component = "" -%}
    {% if type == "text" or type == "category" %}
        {% if name == "color" %} 
            {%- assign component = "color" -%}
        {% else %}
            {%- assign component = "text" -%}
        {% endif %}
    {% endif %}

    {% if type == "range" %}
        {% if name contains "reviews" %}
            {%- assign component = "reviews" -%}
        {% else %}
            {%- assign component = "price" -%}
        {% endif %}
    {% endif %}
<div 
    id="findify-filters-{{name}}" 
    aria-label="{{name}}"
    aria-collapsed="false" 
    class="findify-filters-container">
    <div class="findify-filters-header" ref="{{name}}">
        <label tabindex="-1" class="findify-filters-header-title">
            {{name}}
        </label>
        {% render 'findify-icon-arrow' %}    
    </div>
    {% render 'findify-filter-items', 
        filterName: name,
        filterType: type,
        componentType: component,
        items: values,
        size: values.size,
        limit: limit,
        color_filter_setting: color_filter_setting
    %}
</div>