{% include 'findify-autocomplete-connector' %}

{%- if query != 'none' -%}
  {%- assign suggestionsTitle = 'findify.autocomplete.search_suggestions' | t -%}
  {%- assign productsTitle = 'findify.autocomplete.product_matches' | t -%}
{%- else -%}
  {%- assign suggestionsTitle = 'findify.autocomplete.trending_searches' | t -%}
  {%- assign productsTitle = 'findify.autocomplete.trending_products' | t -%}
{%- endif -%}

<div id="findify-autocomplete" class="findify-autocomplete findify-autocomplete-fullscreen hidden">
  <div class="findify-autocomplete-content">
    <div class="suggestions-wrapper {% if suggestionsTemplate == 'horizontal' %} suggestions-horizontal {% endif %}">
      <h3>{{ suggestionsTitle }}</h3>
      <ul>
        {% for suggestion in suggestions %}
          <li>
            <div data-findify-suggestion class="findify-suggestion">
              {{ suggestion }}
            </div>
          </li>
        {% endfor %}
      </ul>

      {% render 'findify-autocomplete-content-block'
        , contents_param: contents_param
        , content: contents[0]
      %}

    </div>

    <div class="products-wrapper">
      <div class="findify-autocomplete-title-wrapper">
        <h3>{{ productsTitle }}</h3>
        {% render 'findify-autocomplete-view-all'
          , basepath: basepath
          , query: query
          , position: 'top' %}
      </div>
      <div id="findify-autocomplete-products" class="products-container"></div>
      <div class="findify-close-autocomplete">
        {% render 'findify-icon-cross' %}
      </div>
    </div>

    {% render 'findify-autocomplete-content-block'
      , contents_param: contents_param
      , content: contents[1]
    %}

  </div>
  {% render 'findify-autocomplete-view-all'
    , basepath: basepath
    , query: query
    , position: 'bottom' %}


  <script>
      /* IMPORTANT: Script tags are executed within this file element. */

      initFindifyAutocompleteEvents();
  </script>
</div>

{% schema %}
  {
    "name": "Findify autocomplete",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}