{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace:'%20',' ' | replace:'\u0026','&' | replace: '%7C', '|'  | replace: '%27', "'" -%}
{%- assign query_parameters = page_url | split: 'sections=findify-collection&' | last -%}
{% include 'findify-native-liquid-object-conversion' %}
  
<div id="findify-search" class="findify-search-section">    
  <div class="findify-search-container">
    <div class="findify-search-header">
      <div>
        <!-- Here only for mobile, toggle filter button -->
      </div>
      <div class="findify-search-header-toolbar">
        <div>
            {% render 'findify-sorting', options: sort_options, default: default_sort_by, selected: sort_by %}
        </div>
      </div>
    </div>
    {% if results_count.size > 0 %}
      <div id="findify-search-main" class="findify-search-main">
        <div class="findify-loader-overlay">
          <svg width="150" height="150" ersion="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
              <path class="findify-loader-path"
                d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
                  to="360 50 50" repeatCount="indefinite" />
              </path>
          </svg>
        </div>
        <aside id="findify-filters" class="findify-filters-section">
          {% comment %} 
              This element #findify-filters will be replaced with rendered html from sections/findify-filters
            {% endcomment %}
        </aside>
        <div class="findify-products-section">
          <div class="findify-product-list">
            {% for product in products %}
              {% render 'findify-product-card', card_product: all_products[product] %}
            {% endfor %}
          </div>
          <div id='findify-pagination'>
            {% comment %} 
              This element #findify-pagination will be replaced with rendered html from sections/findify-pagination
            {% endcomment %}
          </div>
        </div>
      </div>
      {% else %}
      <div class=findify-search-no-results>
        <h6>No results</h6>
      </div>
    {% endif %}
  </div>
</div>

<script id="findify-search-done">
  /*
  * This script block will be executed at the end of every Findify render cycle.
  * This is the ideal place where to bind all the events of the DOM, such as filters or button events.
  */

  const onFindifySearchDone = () => {
    initFindifyFiltersEvents();
    initFindifySortingEvents();
    // Add/remove class 'loading' from #findify-search-main element on filtering and sorting;
    setFindifyLoader(false);
  }

  onFindifySearchDone()
</script>

{% schema %}
{
    "name": "Findify collection",
    "tag": "section",
    "class": "section",
    "settings": []
}
{% endschema %}