{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last
| replace: '\/','/' | replace:'%20',' ' | replace:'\u0026','&' | replace: '%7C', '|' | replace: '%27', "'" -%}
{%- assign query_parameters = page_url | split: 'sections=findify-search&' | last -%}
{% include 'findify-grid-connector' %}

<div id="findify-search" class="findify-search-section">
  <div class="findify-search-container">
      {% render 'findify-toolbar-desktop', 
      results_count: products_count,
      is_collection: true, 
      terms: terms,
      sort_options: sort_options, 
      default_sort_by: default_sort_by, 
      sort_by: sort_by, 
      active_filters: active_filters,
      color_layout: color_layout,
    %}
    {% render 'findify-toolbar-mobile', 
      results_count: products_count, 
      is_collection: true, 
      terms: terms,
      sort_options: sort_options, 
      default_sort_by: default_sort_by, 
      sort_by: sort_by, 
      active_filters: active_filters
    %}
    {% if products_count > 0 %}
    <div id="findify-search-main" class="findify-search-main">
      <div class="findify-loader-overlay">
        {% render 'findify-loader' %}
      </div>

      <aside id="findify-filters-sidebar" class="findify-filters-sidebar open">
        <div class="findify-filters-container">
          <button id="findify-modal-filters-header" class="findify-modal-header">
            <span class="findify-modal-header-title">Filters</span>
            {% render 'findify-icon-cross' %}
          </button>
          {% if active_filters != 'none' %}
            <div class="findify-search-header-breadcrumb">
              {% render 'findify-filter-selected', active_filters: active_filters, color_layout: color_layout %}
            </div>
        {% endif %}
          <div id="findify-filters" class="findify-filters-wrapper modal-filters-wrapper">
            {% comment %}
            This element #findify-filters will be replaced with rendered html from sections/findify-filters
            {% endcomment %}
          </div>
          <button id="findify-modal-filters-footer" class="findify-modal-footer">See results</button>
        </div>
      </aside>

      <div class="findify-products-section">
        <div class="findify-product-list">
          {% for product in products %}
          {% render 'findify-product-card', card_product: all_products[product] %}
          {% endfor %}
        </div>
        <div id='findify-pagination'>
          {% comment %}
          This element #findify-pagination will be replaced with rendered html from sections/findify-pagination
          {% endcomment %}
        </div>
      </div>
    </div>
    {% else %}
    <div class=findify-search-no-results>
      <h6>No results</h6>
    </div>
    {% endif %}
  </div>
</div>

<script id="findify-search-done">
  /*
  * This script block will be executed at the end of every Findify render cycle.
  * This is the ideal place where to bind all the events of the DOM, such as filters or button events.
  */

  const onFindifySearchDone = () => {
    initFindifyFiltersEvents();
    initFindifySortingEvents();
    // Add/remove class 'loading' from #findify-search-main element on filtering and sorting;
    setFindifyLoader(false);
  }

  onFindifySearchDone()
</script>

{% schema %}
{
"name": "Findify collection",
"tag": "section",
"class": "section",
"settings": []
}
{% endschema %}