{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace:'%20',' ' | replace:'\u0026','&' | replace: '%7C', '|'  | replace: '%27', "'" -%}
{%- assign query_parameters = page_url | split: 'sections=findify-search&' | last -%}
{% include 'findify-native-liquid-object-conversion' %}
  
<div id="findify-search" class="findify-search-section">
  <h1 class="findify-heading">SEARCH RESULTS</h1>
  {% if tabs.size > 0 %}
      {% render 'findify-content-tabs', tabs: tabs, resultsCount: results_count %}
      <div id="findify-product-result-content" class="findify-tab-content" style="display: block;">
  {% endif %}
    
  <div class="findify-search-container">
    <div class="findify-search-header">
      <div class="findify-search-header-toolbar">
        <div class="findify-search-header-toolbar-actions">
          <button id="findify-toggle-filter" class="findify-search-filters-toggle-btn">
            {% render 'findify-filter-icon' %}
            FILTER BY
          </button>
        </div>
        <label class="findify-search-header-label">
          Showing {{ results_count }} results for "<b>{{terms}}</b>"
        </label>
        <div>
          {% render 'findify-sorting', options: sort_options, default: default_sort_by, selected: sort_by %}
        </div>
      </div>
      {% if active_filters != 'none' %}
      <div class="findify-search-header-breadcrumb">
          {% render 'findify-filters-breadcrumbs', active_filters: active_filters  %}
      </div>
      {% endif %}
    </div>
    {% if results_count > 0 %}
      <div id="findify-search-main" class="findify-search-main">
        <div class="findify-loader-overlay">
          {% render 'findify-loader' %}
        </div>
        <aside id="findify-filters-sidebar" class="findify-filters-sidebar open">
          <div id="findify-filters" class="findify-filters-wrapper">
            {% comment %} 
              This element #findify-filters will be replaced with rendered html from sections/findify-filters
            {% endcomment %}
          </div>

        </aside>
        <div class="findify-products-section">
          <div class="findify-product-list">
            {% for product in results %}
              {% render 'findify-product-card', card_product: all_products[product] %}
            {% endfor %}
          </div>
          <div id='findify-pagination'>
            {% comment %} 
              This element #findify-pagination will be replaced with rendered html from sections/findify-pagination
            {% endcomment %}
          </div>
        </div>
      </div>
      {% else %}
      <div class=findify-search-no-results>
        <h6>No results</h6>
      </div>
    {% endif %}
  </div>
  {% if tabs.size > 0 %}
    </div>
  {% endif %}
  {% for tab in tabs %}
    {% assign content_id = tab | split: '~' | first %}
    <div id="{{content_id}}-content" class="findify-tab-content">
      {% render 'findify-content-grid', content_id: content_id %}
    </div>
  {% endfor %}
</div>

<script id="findify-search-done">
  /*
  * This script block will be executed at the end of every Findify render cycle.
  * This is the ideal place where to bind all the events of the DOM, such as filters or button events.
  */

  const onFindifySearchDone = () => {
    initFindifyFiltersEvents();
    initFindifySortingEvents();
    initFindifyTabsEvents();
    loadFindifyContent();
    initFindifyContentEvents();
    // Add/remove class 'loading' from #findify-search-main element on filtering and sorting;
    setFindifyLoader(false);
  }

  onFindifySearchDone()
</script>

{% schema %}
{
    "name": "Findify search",
    "tag": "section",
    "class": "section",
    "settings": []
}
{% endschema %}