{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' | replace: '%7C', '|' | replace: '%27', "'" -%}
{%- assign query_parameters = page_url | split: 'sections=findify-grid-collection&' | last -%}
{% include 'findify-grid-connector' %}

{% assign findify_filters_component_id = 'findify-filters-sidebar' %}

<div id="findify-search" class="findify-search-section">
  <div class="findify-search-container">
    {% render 'findify-toolbar-desktop'
      , results_count: products_count
      , is_collection: true
      , terms: terms
      , sort_options: sort_options
      , default_sort_by: default_sort_by
      , sort_by: sort_by
      , active_filters: active_filters
      , color_layout: color_layout
      , filter_component_id: findify_filters_component_id
    %}
    {% render 'findify-toolbar-mobile'
      , results_count: products_count
      , is_collection: true
      , terms: terms
      , sort_options: sort_options
      , default_sort_by: default_sort_by
      , sort_by: sort_by
      , active_filters: active_filters
      , filter_component_id: findify_filters_component_id
    %}
    {% if products_count > 0 %}
      <div id="findify-search-main" class="findify-search-main">
        <div class="findify-loader-overlay">
          {% render 'findify-loader' %}
        </div>

        <aside id="{{ findify_filters_component_id }}" class="findify-filters-sidebar open">
          {% render 'findify-filters'
            , component_id: findify_filters_component_id,
            , active_filters: active_filters
            , color_layout: color_layout %}
        </aside>

        <div class="findify-products-section">
          {% if use_lazy_loading_pagination == 'true' %}
            <div class="findify-lazy-loading-pagination-container">
              {% if curr_page == 1 %}
                {% assign hide_load_prev = true %}
              {% else %}
                {% assign hide_load_prev = false %}
              {% endif %}
              {% render 'findify-button'
                , id: 'findify-pagination-load-previous'
                , text: 'Load previous'
                , hide: hide_load_prev %}</div>
          {% endif %}
          <div id="findify-product-grid" class="findify-product-list">
            {% comment %}
              This element #findify-product-grid will be populated with rendered html from sections/findify-products.liquid
            {% endcomment %}
          </div>
          <div id='findify-pagination'>
            {% comment %}
              This element #findify-pagination will be replaced with rendered html from sections/findify-pagination
            {% endcomment %}
            {% if use_lazy_loading_pagination == 'true' %}
              {% if curr_page < last_page and lazy_loading_pagination_threshold > 0 %}
                {% render 'findify-lazy-loading-pagination'
                  , id: 'findify-grid' %}{% endif %}
              <div class="findify-lazy-loading-pagination-container">
                {% if curr_page < last_page and lazy_loading_pagination_threshold == 0 %}
                  {% assign hide_load_more = false %}
                {% elsif curr_page == last_page %}
                  {% assign hide_load_more = true %}
                {% else %}
                  {% assign hide_load_more = true %}
                {% endif %}
                {% render 'findify-button'
                  , id: 'findify-pagination-load-more'
                  , text: 'Load more'
                  , hide: hide_load_more %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="findify-zero-result-container">
        <h1>No results</h1>
        <h3>Check the filters and try to be less strict</h3>
      </div>
    {% endif %}
  </div>

  <script>
      if("{{ use_lazy_loading_pagination }}" == "true") {
        initFindifyLazyLoadingPagination("{{lazy_loading_pagination_threshold}}");
      }

      setFindifyIsLoading(false);
  </script>
</div>


{% schema %}
  {
    "name": "Findify collection",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}