{%- assign page_url = content_for_header | split:'"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/','/' | replace:'\u0026','&' | url_decode  -%}
{%- assign productsParam = page_url | split: "products=" | last | split: '&' | first -%}
{%- assign colorMappingParam = page_url | split: "color_mapping=" | last | split: '&' | first  -%}
{%- assign widget_type = page_url | split: "widget_type=" | last | split: '&' | first  -%}
{%- assign additional_class = page_url | split: "additional_class=" | last | split: '&' | first  -%}

{%- assign products= productsParam | split: ";" -%}

<div class="findify-products-section">
  <div class="findify-product-list">
    {% for product in products %}
      {% render 'findify-product-card', card_product:product, widget_type: widget_type, colorMappingParam: colorMappingParam, additional_class: additional_class %}
    {% endfor %}
  </div>
</div>
