{% liquid
  assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: "\/", "/" | replace: "\u0026", "&" | replace: '%7C', '|' | replace: '%20', ' '
  assign query_parameters = page_url | split: "sections=findify-filter-group&" | last

  assign name = query_parameters | split: "name=" | last | split: '&' | first
  assign group_label = query_parameters | split: "label=" | last | split: '&' | first | url_decode
  assign type = query_parameters | split: "type=" | last | split: '&' | first
  assign filters = query_parameters | split: "filters=" | last | split: '&' | first | split: ';'

  assign color_filter_layout = query_parameters | split: "color_filter=" | last | split: '&' | first
  assign color_not_mapped = query_parameters | split: "not_mapped=" | last | split: '&' | first
  if color_not_mapped == 'true'
    assign color_not_mapped = true
  else
    assign color_not_mapped = false
  endif

  assign component = type
  if name == 'category'
    assign component = 'text'
  endif
  if name contains 'reviews'
    assign component = 'reviews'
  endif
  if name == 'color'
    assign component = 'color'
  endif

  assign element_id = 'findify-filters-' | append: name
%}

<div id="{{ element_id }}" class="findify-filter-group">
  <div class="findify-filters-header">
    <label tabindex="-1">
      {{ group_label }}
    </label>
    {% render 'findify-icon-arrow' %}
  </div>
  <div class="findify-filters-body" aria-expanded="true">
    {% case component %}
      {% when 'text' %}
        {% render 'findify-filter-text'
          , name: name
          , type: type
          , component: component
          , filters: filters %}
      {% when 'color' %}
        {% render 'findify-filter-color'
          , name: name
          , type: type
          , component: component
          , filters: filters
          , color_filter_layout: color_filter_layout
          , color_not_mapped: color_not_mapped %}
      {% when 'range' or 'reviews' %}
        {% render 'findify-filter-range'
          , name: name
          , type: type
          , component: component
          , filters: filters %}
    {% endcase %}
  </div>

</div>

<script>
  const collapseFilter = () => {
    const element_id = "{{ element_id }}";
    const filterGroupElement = document.getElementById(element_id);
    const [header, body] = filterGroupElement.querySelectorAll('div');

    const headerClickHandler = (e) => {
      e.preventDefault();
        const isOpen = body.getAttribute("aria-expanded") === "true";
        body.setAttribute("aria-expanded", (!isOpen).toString());
    };

    header.addEventListener("click", headerClickHandler);
  };

  collapseFilter();
</script>