.findify-filters-breadcrumbs-body {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.findify-filters-breadcrumb-item {
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
    gap: 5px;
    background: #F7F7F7;
    cursor: pointer;
    border-radius: 4px;
    height: 36px;
}

.findify-filters-breadcrumb-item:hover {
    background: #D5D8DA;
}

.findify-filters-breadcrumb-close {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D5D8DA;
    border-radius: 50%;
}

.findify-filters-breadcrumbs-clear-all {
    cursor: pointer;
    margin-left: 10px;
}

.findify-filters-breadcrumbs-clear-all:hover {
    text-decoration: underline;
}