.adapt-content-img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.content-fallback-img {
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}