.findify-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.findify-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    gap: 5px;

    color: #404040;
}

.findify-tab>label {
    cursor: pointer;
}

.findify-tab.active {
    pointer-events: none;
    color: #111;
    cursor: default;
}

.findify-tab.active:after {
    content: " ";
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
    width: 40px;
    height: 2px;
    background: #111;
}

.findify-tab-badge {
    font-size: 9px;
    border-radius: 5px;
    padding: 2px 4px;
    background-color: #e2e2e2;
}

.findify-tab-content {
    display: none;
}

.findify-tab-content:first {
    display: block;
}