.findify-initialization {
    display: flex;
    min-height: 800px;
    justify-content: center;
}

.findify-loader-overlay {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5)
}

#findify-search-main.loading>.findify-loader-overlay {
    display: flex;
}

.findify-loader-overlay>svg {
    margin-top: 25%
}

.findify-search-container {
    display: flex;
    flex-direction: column;
}

.findify-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5px;
}

.findify-search-header {
    display: flex;
    flex-direction: column;
}

.findify-search-header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.findify-search-header-toolbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    margin: 15px 0;
}

.findify-search-header-label {
    font-size: 1.2rem;
}

.findify-search-actions-toggle-btn {
    height: 46px;
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.findify-search-actions-toggle-btn:hover {
    background: #EAEAEA;
}

.findify-search-header-breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.findify-search-main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}

.findify-filters-section {
    width: 25%;
    height: 100px;
}

.findify-products-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.findify-product-card {}

b {
    color: #000000;
}

@media(min-width: 767px) {
    .findify-filters-sidebar {
        display: none;
    }

    .findify-search-header.mobile {
        display: none;
    }

    .findify-search-desktop-breadcrumb {
        margin-bottom: 15px;
    }
}

@media(max-width: 768px) {
    .findify-search-header.desktop {
        display: none;
    }
    
    .findify-search-header-label {
        display: flex;
        justify-content: center;
    }
}