:root {
    /* Common */
    --findify-border-color: #EAEAEA;

    /* Typography */
    --findify-text-color: #000000;
    --findify-text-inverse-color: #FFFFFF;
    --findify-text-secondary-color: #7D7D7D;
    --findify-base-font-size: 14px;
    --findify-background-color: #FFFFFF;

    /* CTA */
    --findify-cta-background-color: transparent;
    --findify-cta-background-color-hover: #EAEAEA;
    --findify-cta-border-color: var(--findify-border-color);
    --findify-cta-secondary-background-color: #F7F7F7;
    --findify-cta-secondary-background-color-hover: #EAEAEA;
    --findify-cta-background-accent: #5396ED;

    /* Inputs */
    --findify-input-background-color: #FFFFFF;
    --findify-input-border-color: #000000;

    /* Filters */
    --findify-filters-title: var(--findify-text-color);
    --findify-filters-value: var(--findify-text-color);
    --findify-filters-separator-color: var(--findify-border-color);
    --findify-checkbox-border-color: #000000;
    --findify-checkbox-checked: #000000;

    /* Products */
    --findify-product-title: var(--findify-text-color);
    --findify-product-price: var(--findify-text-color);

    /* Rating */
    --findify-rating-active: #E9BE57;
    --findify-rating-inactive: #C6C6C6;

    /* Sidebar mobile */
    --findify-sidebar-header-background-color: #000000;
}