button {
  background: unset;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#findify-filters *[aria-hidden="true"] {
  display: none !important;
}

#findify-filters *[aria-collapsed="true"] .findify-filters--body-container {
  display: none;
}

#findify-filters *[aria-collapsed="true"] .findify-filters--header-icon {
  transform: rotate(180deg);
}

.findify-filters-checkbox-item {
  text-align: left;
}

.findify-filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 260px;
  position: relative;
}

/* FILTERS */
.findify-filters-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.findify-filters-container[aria-collapsed="false"]
  > .findify-filters-header
  > svg {
  transform: rotate(180deg);
}

.findify-filter-group {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--findify-filters-separator-color);
}

.findify-filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px 0 10px;
}

.findify-filters-header-title {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--findify-filters-title);
}

.findify-filters-header-title span {
}

.findify-filters--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.findify-filters-header-title {
  text-transform: capitalize;
  cursor: pointer;
}

.findify-filters--body-container {
  display: flex;
  flex-direction: column;
}

.findify-filters--nested-body-wrapper {
  margin-left: 10px;
}

.findify-filters--nested-body-wrapper
  .findify-filters-checkbox-item-value::before {
  display: none !important;
}

/* CHECKBOX */
.findify-filters-checkbox-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: var(--findify-filters-value);
  padding: 0 12px 0 10px;
}

.findify-filters-checkbox-item-count {
  font-weight: 400;

  color: var(--findify-text-secondary-color);
}

.findify-filters-checkbox-item .findify-filters-checkbox-item-value::before {
  content: "";
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--findify-checkbox-border-color);
  margin-right: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.findify-filters-checkbox-item .findify-filters--checkbox-nested-value::after {
  content: "";
  border: solid var(--findify-checkbox-checked);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.findify-filters-checkbox-item
  .findify-filters--checkbox-nested-value-selected::after {
  transform: rotate(45deg);
}

.findify-filters--checkbox-nested-value-selected,
.findify-filters-checkbox-item-value-selected {
  font-weight: bold;
}

.findify-filters-checkbox-item
  .findify-filters-checkbox-item-value-selected::before {
  background: var(--findify-checkbox-checked);
  box-shadow: inset 0 0 0 2px #fff;
}

.findify-filters-checkbox-item-value-selected {
  font-weight: bold;
}

.findify-filters--color-item::before {
  display: none !important;
}

.findify-filters--color-item-layout-color {
  padding: 0;
}

.findify-filters--color-item-layout-color .findify-filters--color-item-value,
.findify-filters--color-item-layout-color .findify-filters-checkbox-item-value {
  margin-right: 0;
  padding-right: 0;
  flex: 1;
}

.findify-filters-checkbox-item-value,
.findify-filters--checkbox-nested-value {
  padding-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
}

.findify-filters-checkbox-item-value > span,
.findify-filters--checkbox-nested-value > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.findify-filters-checkbox-item-value-selected svg {
  display: flex;
  margin: auto;
}

.findify-filters--checkbox-search {
  position: relative;
  margin: 5px 0;
  padding: 0 12px 0 10px;
}

.findify-filters--checkbox-search input {
  width: 100%;
  height: 32px;
  padding: 0px 10px;
  border-radius: 20px;
  margin: 0 auto;
  border: 1px solid var(--findify-input-border-color);
  background: var(--findify-input-background-color);
}

.findify-filters--checkbox-search input:focus-visible {
  box-shadow: none;
  outline-offset: none;
  outline: none;
}

.findify-filters--checkbox-search-icon {
  position: absolute;
  right: 20px;
  top: 8px;
}

.findify-filters--body-wrapper {
  max-height: 155px;
  overflow: auto;
}
.findify-filters--body-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
.findify-filters--body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #000000;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.findify-filters--body-wrapper::-webkit-scrollbar-track {
  background: #e1e1e1;
}
/* Color filter layout: Only color*/
.body-wrapper-layout-color {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 12px 0 10px;
}

.body-wrapper-layout-color_with_label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* color item */
.findify-filters--color-item {
  display: flex;
  align-items: center;
}

.solid-circle {
  height: 35px;
  width: 35px;
}

.circle-with-label {
  height: 30px;
  width: 30px;
}

.findify-filters--color-item-value {
  border-radius: 50%;
  display: flex;
  margin-right: 5px;
}

/* RANGE */
.findify-filters--range-container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.findify-filters--range-wrapper {
  display: flex;
}

.findify-filters--range-wrapper-input input {
  min-width: 90px;
  padding: 8px;
}

.findify-filters--range-wrapper-delimiter {
  margin: 0px 5px;
}

.findify-filters--range-submit {
  margin-left: 10px;
}

/* rating star */
.findify-filters--rating-facet-star {
  color: var(--findify-rating-active);
}

.findify-filters--rating-facet-star[unfilled] {
  color: var(--findify-rating-inactive);
}

.findify-filters-sidebar.open {
  display: flex;
}

@media (max-width: 768px) {
  #findify-toggle-filter {
    display: none;
  }

  /* findify filters mobile CHECK ONE BY ONE CSS */
  .findify-filters-sidebar {
    margin: 0;
    width: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .findify-filters-wrapper {
    width: unset;
  }

  .findify-filters-sidebar .findify-filters-container {
    width: 100%;
  }

  .findify-filters-container:first-child .findify-filters-header {
    padding-top: 0px;
  }

  .findify-filters--container {
    margin-top: 0;
    border-top: 1px solid var(--findify-filters-separator-color);
    padding: 20px 17px;
  }

  .findify-filters-header {
    padding: 20px 0px;
  }

  .findify-filters-wrapper {
    padding: 20px;
  }

  .findify-search-header-breadcrumb {
    margin-bottom: 0px;
    margin-top: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
  }

  .findify-filters--filter-header {
    justify-content: unset;
  }
  /* Ellipsis for mobile, increase with maximum */
  .findify-filters-checkbox-item-value > span:not(.solid-circle),
  .findify-filters--checkbox-nested-value > span:not(.solid-circle) {
    width: 250px;
  }
}

.price-range-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px 0 10px;
}
.price-range-content {
  display: flex;
  gap: 5px;
}

.findify-price-range-input-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 1px solid #000;
  background: #fff;
}
.price-range-input {
  box-shadow: none;
  max-width: 50px;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  background: transparent;
  color: #111;
  font-size: 13px;
  border: none;
  outline: none;
}
