.swiper-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    padding-bottom: 30px;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-wrapper .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

.swiper-button-disabled {
    display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    background: transparent;
    border: none;
    height: 100%;
    top: calc(50% - 50px) !important;
    color: var(--color-black);
}

.swiper-button-prev {
    left: 0;
    right: auto;
    outline: none;
    left: 0px;
}

.swiper-button-next {
    right: 0;
    left: auto;
    outline: none;
    right: 0px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    z-index: 9;
}

.swiper {
    width: 100%;
}

.findify-recommendation-container {
    margin: 30px 0;
}

.findify-swiper-title {
    text-align: center;
}

.recommendation-wrapper .findify-product-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 98%;
    height: 1.6em;
    white-space: nowrap;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--findify-cta-background-accent);
    border-radius: 50%;
    padding: 10px 20px;
    color: var(--findify-text-inverse-color);
    width: 38px !important;
    height: 38px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--findify-text-inverse-color);
    font-weight: 700;
}