a:not(.button),
a:visited {
    text-decoration: none;
    color: unset;
}

.findify-product-card {
    min-height: 380px;
}

.adapt {
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
}

.findify-product-title {

    color: var(--findify-text-color);
    margin-bottom: 10px;
}

.findify-cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.5em;
    white-space: nowrap;
}

.findify-price.price-item.price-item--regular {
    font-weight: 700;
    color: var(--findify-text-color);
}

.findify-price.price-item.price-item--sale,
.findify-price.price-item.price-item--last {
    font-weight: 700;
    color: var(--findify-text-secondary-color);
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-container .second-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-container:hover .second-image {
    display: inline;
}